# Project exclude paths
/spring-cloud-api-commons/target/
/spring-cloud-config-center-3344/target/
/spring-cloud-consumer-feign-hystrix-order80/target/
/spring-cloud-consumer-feign-order-80/target/
/spring-cloud-consumer-hystrix-dashboard9001/target/
/spring-cloud-consumer-order-80/target/
/spring-cloud-consumerconsul-order-80/target/
/spring-cloud-eureka7002/target/
/spring-cloud-eureka-server7001/target/
/spring-cloud-gateway-gateway9527/target/
/spring-cloud-provider-hystrix-payment8001/target/
/spring-cloud-provider-payment8001/target/
/spring-cloud-provider-payment8002/target/
/spring-cloud-provider-payment8004/target/
/spring-cloud-provider-payment8006/target/
/spring-cloud-seata-account-service2003/target/
/spring-cloud-seata-order-service2001/target/
/spring-cloud-seata-storage-service2002/target/
/spring-cloud-stream-rabbitmq-comsumer8802/target/
/spring-cloud-stream-rabbitmq-provider8801/target/
/spring-cloudalibaba-config-nacos-client3377/target/
/spring-cloudalibaba-consumer-nacos-order83/target/
/spring-cloudalibaba-consumer-nacos-order84/target/
/spring-cloudalibaba-provider-payment9001/target/
/spring-cloudalibaba-provider-payment9002/target/
/spring-cloudalibaba-provider-payment9003/target/
/spring-cloudalibaba-provider-payment9004/target/
/spring-cloudalibaba-sentinel-service8401/target/